<div style="text-align:center">
    <div class="row" style="max-height: 100% !important;">
        <div class="col-8">
            <div class="col-9" style="background: pink; max-width: 100% !important;">

            <img class="img-responsive" style = "padding-top: 5%; padding-bottom: 2%;" width="300" height="500" src="../assets/images/{{currentImage}}">
            </div>
            <div class="col-3" style="background: pink; max-width: 100% !important;">
                 <div class="row" style=" margin-left: 37%; margin-right: 30%;">
                <div class="column" (click)="changeCurrentImage(images)" *ngFor="let images of catalog">
                        <img src="../assets/images/{{images}}" height="50" width="50" style=" padding-left: 5px; padding-bottom: 5px;" alt="{{images}}" >
                </div>
              </div>
            </div>
        </div>
        <div class="col-3">

            <button type="button" style="position: absolute; bottom:0px; right: 3%;" class="btn btn-primary">TRY YOUR OWN IMAGE OR VIDEO</button>

        </div>
      </div>

</div>